.about {
  margin-top: 80px;
  padding: 24px;
  text-align: center;
}

.about .text {
  text-align: start;
  padding: 0 12px 0 12px;
  text-indent: 30px;
}

.about .column {
  display: grid;
  grid-template-columns: 1fr;
}

.about .column .card {
  border: 1px solid var(--tertiary-color);
  border-top: 4px solid var(--primary-color);
  padding: 0 24px 0 24px;
  margin: 12px;
  border-radius: 16px;
}

.about .column .card img {
  margin-top: 12px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border: 2px solid var(--tertiary-color);
  border-radius: 16px;
}

@media screen and (min-width: 768px) {
  .about .text {
    padding: 0 24px 0 24px;
  }

  .about .column {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .about .column .card:hover {
    border-top: 4px solid var(--secundary-color);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
  }
}
