@font-face {
  font-family: "Michroma";
  src: url(../fonts/Michroma-Regular.ttf);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  /*Cores*/
  --primary-color: #1b365d;
  --secundary-color: #00aeef; /*btn*/
  --tertiary-color: #d1dce5; /*hover*/

  /*Cores dp Texto*/
  --text-primary-color: #222222;
  --text-secundary-color: #2d3748;

  /*Cor do Background*/
  --background: #ffffff;
  --background-header: #f8fafc;
  --background-card: #f4f7fa;

  /*Peso da Fonte*/
  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;

  /*Tamanho da Fonte*/
  --h1-size: 36px;
  --h2-size: 32px;
  --h3-size: 24px;
  --h4-size: 18px;
  --h5-size: 16px;
  --body1-size: 16px;
  --body2-size: 14px;
  --body3-size: 12px;
  --body4-size: 10px;
  --subtitle: 16px;
}

/*CSS Reset*/
body,
img,
h1,
p,
fieldset,
legend,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:focus,
button:focus {
  outline: 3px solid var(--accent-safety);
  outline-offset: 4px;
}

/* .section-title h2 {
  text-align: center;
  color: var(--metal-dark);
}

section.hero,
section.bottom-hero {
  width: 100%;
  margin: 0;
} */

h1 {
  font-family: "Inter";
  font-size: var(--h3-size);
  color: var(--primary-color);
  font-weight: var(--title-weight);
}

h2 {
  font-family: "Inter";
  font-size: var(--h4-size);
  color: var(--text-primary-color);
  font-weight: var(--text-weight);
}

h3 {
  font-family: "Inter";
  font-size: var(--body3-size);
  color: var(--text-primary-color);
  font-weight: var(--text-weight);
}

h4 {
  font-family: "Inter";
  font-size: var(--body4-size);
  color: var(--text-primary-color);
  font-weight: var(--text-weight);
  text-align: start;
}

h5 {
  font-family: "Inter";
  font-size: var(--body4-size);
  color: var(--text-primary-color);
  font-weight: var(--text-weight);
  text-align: start;
}

span {
  font-family: "Inter";
  font-weight: var(--title-weight);
  color: var(--metal-dark);
}

/* @media screen and (min-width: 768px) {
  h1 {
    font-size: var(--h2-size);
  }
  h2 {
    font-size: var(--h3-size);
  }
  h3 {
    font-size: var(--h4-size);
  }
  h4 {
    font-size: var(--body3-size);
  }
  h5 {
    font-size: var(--h5-size);
  }
} */

@media screen and (min-width: 1024px) {
  h1 {
    font-size: var(--h2-size);
  }
  h2 {
    font-size: var(--h3-size);
  }
  h3 {
    font-size: var(--h4-size);
  }
  h4 {
    font-size: var(--h5-size);
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: var(--h1-size);
  }
  h2 {
    font-size: var(--h2-size);
  }
  h3 {
    font-size: var(--h3-size);
  }
  h4 {
    font-size: var(--h4-size);
  }
}
